# swagger3

#Hidden
ignore=@io.swagger.v3.oas.annotations.Hidden
field.ignore=@io.swagger.v3.oas.annotations.Hidden
param.ignore=@io.swagger.v3.oas.annotations.Hidden

#Operation
api.name=@io.swagger.v3.oas.annotations.Operation#summary
method.doc=@io.swagger.v3.oas.annotations.Operation#summary
method.doc=@io.swagger.v3.oas.annotations.Operation#description
method.doc[@io.swagger.v3.oas.annotations.Operation#deprecated]=「已废弃」
method.default.http.method=@io.swagger.v3.oas.annotations.Operation#method
api.tag=@io.swagger.v3.oas.annotations.Operation#tags
api.tag[@io.swagger.v3.oas.annotations.Operation#deprecated]=deprecated

#Tag(s)
api.tag=@io.swagger.v3.oas.annotations.tags.Tag#name
api.tag[@io.swagger.v3.oas.annotations.tags.Tags]=groovy:```
    @it.annValue("io.swagger.v3.oas.annotations.tags.Tags").collect{it.name}
```

#Parameter
param.ignore=@io.swagger.v3.oas.annotations.Parameter#hidden
param.required=@io.swagger.v3.oas.annotations.Parameter#required
param.doc[@io.swagger.v3.oas.annotations.Parameter#deprecated]=「已废弃」
param.doc=@io.swagger.v3.oas.annotations.Parameter#description

#Schema
field.doc=@io.swagger.v3.oas.annotations.media.Schema#title
field.doc=@io.swagger.v3.oas.annotations.media.Schema#description
field.ignore=@io.swagger.v3.oas.annotations.media.Schema#hidden
field.required=@io.swagger.v3.oas.annotations.media.Schema#required
field.required=@io.swagger.v3.oas.annotations.media.Schema#requiredMode

class.doc=@io.swagger.v3.oas.annotations.media.Schema#title
class.doc=@io.swagger.v3.oas.annotations.media.Schema#description


